<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <% if (user.member === true) {%>
    <h2>You are a member</h2>
    <% } else { %>
    <h2>You are not a member</h2>
    <%}%>
    <a href="/">Home</a>
  </body>
</html>
