<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <form action="/new-post" method="POST">
      <label for="title">Title</label>
      <input name="title" placeholder="title" type="text" />
      <label for="text">Text</label>
      <input name="text" placeholder="text" type="text" />
      <button>Post</button>
    </form>
  </body>
</html>
