<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><% title %></title>
  </head>
  <body>
    <% posts.forEach((el) {%>
    <p><%= el.text %></p>
    <p><%= el.timestamp %></p>
    <p><%= el.author %></p>
    <% }) >
  </body>
</html>
